<div class="modal-wrap">
    <div class="modal-head">
        <h2 class="modal-title font-Syne fw-700 td-none">Confirmation</h2>
    </div>
    <div class="modal-body font-Cairo fw-700 fs-16">Are you sure you want to remove?</div>
    <div class="modal-footer">
        <button mat-button class="btn-info font-Cairo fw-700 fs-16 td-none" (click)="onConfirmClick()">Confirm</button>
        <button mat-button class="btn-light font-Cairo fw-700 fs-16 td-none" (click)="onCancelClick()">Cancel</button>
    </div>
</div>