<div class="page-wrap">
    <header-root></header-root>

    <div class="main-content d-flex">
        <subcont-root></subcont-root>

        <div class='auth-form'>
            <form class='submit-form'>
                <div class="form-header">
                    <h1 class="form-title m-0 font-Syne fw-600">{{title}}</h1>
                    <p class="form-subtitle m-0 font-Montserrat fw-500">{{subtitle}}</p>
                </div>
                <div class='form-body'>
                    <div class='form-group'>
                        <div class='info form-message d-hide font-Syne'>You are already registered.</div>
                    </div>
                    <div class='form-group'>
                        <div class='warning form-message d-hide font-Syne'>Please enter the password as same confirm
                            password.</div>
                    </div>
                    <div class='form-group'>
                        <div class='icon-input d-flex br-10'>
                            <div class='icon'><img [src]="lock" alt='lockicon' /></div>
                            <input type='password' name='password' placeholder='New Password' required />
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='icon-input d-flex br-10'>
                            <div class='icon'><img [src]="lock" alt='lockicon' /></div>
                            <input type='password' name='re-password' placeholder='Confirm new password' required />
                        </div>
                    </div>
                    <div class='form-group'>
                        <button
                            class="site-button btn-submit btn-gradient font-Syne fw-700 br-10 br-10 td-none">Submit</button>
                    </div>
                    <div class='form-group'>
                        <button (click)="navigateToComponent('/login')"
                            class="site-button btn-submit btn-greygradient font-Syne fw-700 br-10 br-10 td-none">I
                            already have an account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>