<footer class='page-footer'>
  <div class='page-width d-flex'>
    <div class='footer-logo'>
      <a>
        <img [src]="footerLogo" alt='logo' />
      </a>
      <a class='site-button footer-button btn-gradient font-Syne fw-700 br-10 br-10 td-none'>Contact Us</a>
    </div>
    <div class='footer-content'>
      <div class='social-icons d-flex'>
        <a>
          <img [src]="telegram" alt='logo' />
        </a>
        <a>
          <img [src]="twitter" alt='logo' />
        </a>
      </div>
      <div class='footer-links d-flex'>
        <a class='link font-Cairo fw-700 fs-16 td-none'>FAQ</a>
        <a class='link font-Cairo fw-700 fs-16 td-none'>Terms & Conditions</a>
      </div>
      <div class='footer-brands'>
        <div class='label'>
          <p class='font-Cairo fw-400 fs-16'>Founded by:</p>
        </div>
        <div class='brands d-flex'>
          <img [src]="nothing" alt='footer-image' />
          <img [src]="send" alt='footer-image' />
        </div>
      </div>
    </div>
  </div>
  <a to='/myfocus' class='footermobileLogo'>
    <img [src]="footermobileLogo" alt='logo' />
  </a>

  <div class='copyright'>
    <p class='font-Cairo fw-400 fs-16'>© 2023 Design. All right reserves</p>
  </div>
</footer>